
.header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.header .logo {
    display: flex;
    align-items: center;
    padding: 5px;
}

.header .logo h1 {
    font-weight: 200;
    font-family: 'Dancing Script';

}

.header .logo img {
    width: 120px;
}

.header nav {
    background-color: #232323;
    display: block;
}

.header .menu {
    height: 4.0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .menu a {
    color: #fff;
    transition: 0.3s;
}

.header .menu a:hover {
    color: yellow;
}