
.header {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    background-color: #c26dec93; 
    height: 160px;
    border-bottom: 5px solid rgb(92, 5, 114);
    color: #000;
    
}

.header img {
    width: 150px;
    border-radius: 50%;
    margin-right: 15px;
}

.logo {
    display: flex;
    align-items: center;    
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    margin: 5px;
    padding: 10px 20px;
}

.menu li.item {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:1px solid black;
    border-radius:10px;
    transition: 0.3s ease-in-out;
}

.menu li.item:hover {
    font-size: 16px;
    border:1px solid black;
    border-radius:10px;
    background-color: rgb(105, 5, 136);
    color: #fff;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    
}

.conteudo img {
    width: 300px;
}

.conteudo .texto {
    
    font-size: 26px;
    margin-top: 15px;
    padding: 3px 5px;
}

.footer {
    background-color: #c26dec93;
    height: 99px;
    border-top: 5px solid rgb(92, 5, 114);
}

