.header {
    background-color: var(--corpadrao);
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #232323;
    margin-bottom: 30px;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 80px;
}

.header .logo h1 {
    font-size: 3rem;
    font-weight: 200;
    font-family: 'Dancing Script';

}

.header .logo img {
    width: 120px;
}

.servicos .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.carrossel {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 600px;
    margin: auto;
    padding: 0px 4%;
    border-bottom: 3px solid #232323;
}

.carrossel img {
    width: 100%;
    height: 550px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

.servicos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.servicos .item {
    border: 2px solid #232323;
    margin: 7px;
    padding: 30px;
    width: 300px;
    height: 350px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #232323;
    background-color: var(--corpadrao);
}

.servicos .item .subtitulo {
    text-decoration: underline;
}

.servicos .subtitulo {
    font-family: 'Dancing Script';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.servicos ul {
    list-style-type: circle;
}

.servicos li {
    margin: 7px;
}


.contato {
    background-color: var(--corpadrao);
    height: 200px;
    border: 2px solid #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contato ul {
    font-size: 5rem;
    transition: .3s;
}

.contato ul li {
    padding: 10px 40px;
}

.contato li:hover .fa-whatsapp {
    color: green;
    text-shadow: 1px 1px 15px rgb(5, 238, 5);
}

.contato li:hover .fa-instagram {
    color: red;
    text-shadow: 1px 1px 15px rgb(238, 5, 5);
}

.contato li:hover .fa-facebook {
    color: blue;
    text-shadow: 1px 1px 15px rgb(68, 58, 207);
}

.footer {
    background-color: #232323;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 50px;
}

.footer .direitos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .direitos .menor {
    font-size: 0.7rem;
}

.footer .direitos ul {
    display: flex;
    align-items: center;
}

.footer .direitos li {
    margin: 5px;
}

.footer li:hover .fa-whatsapp {
    color: green;
    text-shadow: 1px 1px 15px rgb(5, 238, 5);
}

.footer li:hover .fa-instagram {
    color: rgb(209, 45, 72);
    text-shadow: 1px 1px 15px rgb(238, 5, 5);
}

.footer li:hover .fa-facebook {
    color: blue;
    text-shadow: 1px 1px 15px rgb(68, 58, 207);
}

.criador {
    background-color: #232323;
    text-align: right;
    }

    .criador a {
        color: rgb(112, 16, 112);
        font-size: 0.6rem;
        text-align: right;
        font-weight: bold;
        
    }

.criador span {
    font-size: 0.5rem;
}