html {
    font-size: 65,5%;
}

body {    
    font-family: "poppins", sans-serif;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

:root {
    --corpadrao:#c5cef5;
}



