@media(max-width:480px) {
    .header {
        flex-direction: column;
        width: 100%;
    }

    .header .logo h1 {
        font-size: 2rem;
        text-align: center;
    }

    .logo {
        width: 100%;
        padding: 5px;
        justify-content: space-around;
        align-items: center;
    }

    .logo img {
        width: 90px;
    }

    .header .menu {
        flex-direction: column;
    }

    .carrossel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
        padding: 10px;
        border: 0;
    }

    .carrossel img {
        width: 350px;
        height: auto;
    }

    .menu li.item {
        border: 0;
        border-bottom: 1px solid #fff;
        font-size: 15px;
        padding: 3px 10px;
        margin: 0;
        border-radius: 0;
    }
    .conteudo {
        width: 100%;
        height: 400px;
    }

    .conteudo p {
        text-align: center;
        font-weight: 800;
        padding: 5px;
    }

    .contato ul {
        display: flex;
        flex-direction: column;
    }
    
    .contato ul li {
        font-size: 2rem;
    }
}